.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    bottom: 0;
}

/*------------------------------------------*/

.block-product {
    display: flex;
    flex-direction: column;
}

.row-block {
    display: flex;
    flex-direction: row;
}

.product-block-img {
}

.product-img {
    height: 312px;
    width: 526px;
}

.product-content {
    margin-left: 52px;
    display: flex;
    flex-direction: column;
}

.product-brand {
    font-size: 42px;
    line-height: 140%;
    letter-spacing: 0.2px;
    font-weight: 800;
    margin-bottom: 12px;
}

.product-title {
    font-size: 24px;
    line-height: 156%;
    font-weight: 500;
}

.product-text{
    font-size: 16px;
    line-height: 170%;
    font-weight: 300;
    margin: 0px 30px;
}

.product-list {
    margin-top: 36px;
}

.product-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 100px;
}

.contact{
    font-size: 20px;
    line-height: 160%;
    font-weight: 400;
}

.btn{
    font-size: 18px;
    line-height: 165%;
    font-weight: 400;
    cursor: pointer;
    width: 196px;
    height: 40px;
    color: #fff;
    border-radius: 8px;
    border: 2px solid #222831;
    background-color: #393e46;
}